---
auth:
  db: &db
    password:
    rootPassword:
  redis: &redis
    password:
  google: &google
    id:
    secret:

mariadb:
  auth: *db

redis:
  auth: *redis

api:
  db: *db
  redis: *redis
  auth:
    google: *google
  aws:
    accessKey:
    secretKey:
  notify:
    secretKey:
    channel:
  openai:
    secretKey:
  upbit:
    accessKey:
    secretKey:
  accumulation:
    secretKey:
  admin:
    email:

ui:
  auth:
    google: *google
