:root {
  --color-primary: #635bff;
  --color-secondary: #14E9E2;
  --color-primary-emphasis: #0091E5;
  --color-secondary-emphasis: #673ADE;
  --color-lightprimary: #4400ff20;
  --color-lightsecondary: #d0fbf9;
  --color-info: #46caeb;
  --color-success: #36C76C;
  --color-warning: #FFB900;
  --color-error: #FF6692;
  --color-lightsuccess: #d7f4e2;
  --color-lighterror: #FF669230;
  --color-lightinfo: #46caeb25;
  --color-lightwarning: #FFB90025;
  --color-white: #fff;
  --color-dark: #111c2d;
  --color-border: #e0e6eb;
  --color-bordergray: #2a3547;
  --color-link: #2a3547;
  --color-muted: #EFF4FA;
  --color-darklink: #7b8893;
  --color-lightgray: #f4f7fb;
  --color-feargreed-extreme-fear: #E84141;
  --color-feargreed-fear: #E87941;
  --color-feargreed-neutral: #E8D741;
  --color-feargreed-greed: #5DE841;
  --color-feargreed-extreme-greed: #41E884;
}

@theme {
  --color-cyan-500: var(--color-primary);
  --color-cyan-600: var(--color-primary);
  --color-cyan-700: var(--color-primary);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-primary-emphasis: var(--color-primary-emphasis);
  --color-secondary-emphasis: var(--color-secondary-emphasis);
  --color-lightprimary: var(--color-lightprimary);
  --color-lightsecondary: var(--color-lightsecondary);
  --color-info: var(--color-info);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-error: var(--color-error);
  --color-lightsuccess: var(--color-lightsuccess);
  --color-lighterror: var(--color-lighterror);
  --color-lightinfo: var(--color-lightinfo);
  --color-lightwarning: var(--color-lightwarning);
  --color-border: var(--color-border);
  --color-bordergray: var(--color-bordergray);
  --color-lightgray: var(--color-lightgray);
  --color-muted: var(--color-muted);
  --color-dark: var(--color-dark);
  --color-link: var(--color-link);
  --color-darklink: var(--color-darklink);
}
