:root {
  --color-primary: #635bff;
  --color-secondary: #14E9E2;
  --color-primary-emphasis: #0091E5;
  --color-secondary-emphasis: #673ADE;
  --color-lightprimary: #4400ff20;
  --color-lightsecondary: #d0fbf9;
  --color-info: #46caeb;
  --color-success: #36C76C;
  --color-warning: #FFB900;
  --color-error: #FF6692;
  --color-lightsuccess: #d7f4e2;
  --color-lighterror: #FF669230;
  --color-lightinfo: #46caeb25;
  --color-lightwarning: #FFB90025;
  --color-white: #fff;
  --color-dark: #111c2d;
  --color-border: #e0e6eb;
  --color-bordergray: #2a3547;
  --color-link: #2a3547;
  --color-muted: #EFF4FA;
  --color-darklink: #7b8893;
  --color-lightgray: #f4f7fb;
  --color-regime-feargreed-segment-1-start: #6b0f0f;
  --color-regime-feargreed-segment-1-end: #ff9f5f;
  --color-regime-feargreed-segment-2-start: #8a2d11;
  --color-regime-feargreed-segment-2-end: #ffe277;
  --color-regime-feargreed-segment-3-start: #615406;
  --color-regime-feargreed-segment-3-end: #fff7b3;
  --color-regime-feargreed-segment-4-start: #4f7d12;
  --color-regime-feargreed-segment-4-end: #57e74e;
  --color-regime-feargreed-segment-5-start: #188c34;
  --color-regime-feargreed-segment-5-end: #3cffb2;
  --color-regime-btc-dominance-segment-1-start: #0f7a3f;
  --color-regime-btc-dominance-segment-1-end: #b6ff5b;
  --color-regime-btc-dominance-segment-2-start: #65d93f;
  --color-regime-btc-dominance-segment-2-end: #ffb060;
  --color-regime-btc-dominance-segment-3-start: #ff8f3e;
  --color-regime-btc-dominance-segment-3-end: #7f0e0e;
  --color-regime-alt-season-segment-1-start: #7f0e0e;
  --color-regime-alt-season-segment-1-end: #ffa65e;
  --color-regime-alt-season-segment-2-start: #ff9a4d;
  --color-regime-alt-season-segment-2-end: #9bff57;
  --color-regime-alt-season-segment-3-start: #37b63a;
  --color-regime-alt-season-segment-3-end: #58ff9f;
}

@theme {
  --color-cyan-500: var(--color-primary);
  --color-cyan-600: var(--color-primary);
  --color-cyan-700: var(--color-primary);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-primary-emphasis: var(--color-primary-emphasis);
  --color-secondary-emphasis: var(--color-secondary-emphasis);
  --color-lightprimary: var(--color-lightprimary);
  --color-lightsecondary: var(--color-lightsecondary);
  --color-info: var(--color-info);
  --color-success: var(--color-success);
  --color-warning: var(--color-warning);
  --color-error: var(--color-error);
  --color-lightsuccess: var(--color-lightsuccess);
  --color-lighterror: var(--color-lighterror);
  --color-lightinfo: var(--color-lightinfo);
  --color-lightwarning: var(--color-lightwarning);
  --color-border: var(--color-border);
  --color-bordergray: var(--color-bordergray);
  --color-lightgray: var(--color-lightgray);
  --color-muted: var(--color-muted);
  --color-dark: var(--color-dark);
  --color-link: var(--color-link);
  --color-darklink: var(--color-darklink);
}
