---
mariadb:
  enabled: true
  auth:
    database: kkalla
    username: kkalla
  primary:
    service:
      type: ClusterIP
      ports:
        mysql: 3306
    extraEnvVars:
      - name: TZ
        value: Asia/Seoul
    configuration: |-
      [mysqld]
      skip-name-resolve
      explicit_defaults_for_timestamp
      basedir=/opt/bitnami/mariadb
      datadir=/bitnami/mariadb/data
      plugin_dir=/opt/bitnami/mariadb/plugin
      port=3306
      socket=/opt/bitnami/mariadb/tmp/mysql.sock
      tmpdir=/opt/bitnami/mariadb/tmp
      max_allowed_packet=16M
      bind-address=*
      pid-file=/opt/bitnami/mariadb/tmp/mysqld.pid
      log-error=/opt/bitnami/mariadb/logs/mysqld.log
      character-set-server=UTF8
      collation-server=utf8_general_ci
      slow_query_log=0
      long_query_time=10.0
      binlog_expire_logs_seconds=2592000
      default-time-zone=+09:00

      [client]
      port=3306
      socket=/opt/bitnami/mariadb/tmp/mysql.sock
      default-character-set=UTF8
      plugin_dir=/opt/bitnami/mariadb/plugin

      [manager]
      port=3306
      socket=/opt/bitnami/mariadb/tmp/mysql.sock
      pid-file=/opt/bitnami/mariadb/tmp/mysqld.pid

api:
  db:
    host: "{{ .Release.Name }}-mariadb.{{ .Release.Namespace }}.svc.cluster.local"
    port: 3306
    database: kkalla
    username: kkalla
  redis:
    host: "{{ .Release.Name }}-redis-master.{{ .Release.Namespace }}.svc.cluster.local"
    port: 6379

ui:
  api:
    url: "http://{{ .Release.Name }}-api.{{ .Release.Namespace }}.svc.cluster.local:3000/"

redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: true
  master:
    service:
      type: ClusterIP
      ports:
        redis: 6379
    extraEnvVars:
      - name: TZ
        value: Asia/Seoul
