---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "api.fullname" . }}
data:
  TZ: "Asia/Seoul"
  TZ_OFFSET: "+09:00"
  DB_HOST: {{ tpl .Values.db.host . | quote }}
  DB_PORT: {{ .Values.db.port | quote }}
  DB_DATABASE: {{ .Values.db.database | quote }}
  DB_USER: {{ .Values.db.username | quote }}
  REDIS_HOST: {{ tpl .Values.redis.host . | quote }}
  REDIS_PORT: {{ .Values.redis.port | quote }}
  ADMIN_EMAIL: {{ .Values.admin.email | quote }}
  AWS_REGION: {{ .Values.aws.region | quote }}
  AWS_SQS_QUEUE_URL_ALLOCATION: {{ .Values.aws.sqs.queueUrlAllocation | quote }}
  AWS_SQS_QUEUE_URL_MARKET_RISK: {{ .Values.aws.sqs.queueUrlMarketRisk | quote }}
